mung==1.2.1
nltk==3.9.1
numpy==2.2.4
odtools==1.0.0
opencv_contrib_python==4.11.0.86
opencv_python==4.10.0.84
Pillow==11.2.1
prettytable==3.16.0
Requests==2.32.3
smashcima==1.1.2
stalix @ https://github.com/v-dvorak/stalix
tqdm==4.66.5